// Your less (see lesscss.org) goes here.
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-left {
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
}

.logoImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
